<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>Home - Nicholas Kimmel</title>
  </head>
  <body>
    <h1>Nicholas Kimmel - Homepage</h1>
    
    {% extends "template.html" %}
    {% block content %}
    
      
      <div class="card" style="width: 100%; text-align: center;">
        <img src ="artist.png" class="card-img-top" alt="not a real picture of me">
        <div class="card-body">
          <h5 class="card-title">Meet Nicholas</h5>
          <p class="card-text">This is him.</p>
        </div>
      </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>